/********** MODAL HOME SECTION **********/
.modal{
    position: fixed;
    top: -30rem;
    left: 0;
    width: 100%;
    padding: 40px 5rem;
    z-index: 10;
    background-color: white;
    transition: top 0.5s ease-in-out;
}

#button-close-phone{
    display: none;
}

.container-menuModal-phone{
    display: none;
}

.modal .container-preview{
    display: flex;
    flex-direction: row;
}

.modal .container-preview nav ul li{
    list-style: none;
    padding: 0;
    margin-top: 1.4rem;
    font-size: 1.2em;
    cursor: pointer;
}

.modal .container-preview nav ul li a{
    color: var(--color-primario);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding: 10px 15px;
}

.modal .container-preview nav ul li a:hover{
    color:#C52462;
}

.modal .container-preview .container-relevants{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.modal .container-preview .container-relevants p{
    font-size: 1rem;
    font-weight: normal
}

.modal .container-preview .container-relevants  #container-itemspreview{
    display: flex;
    flex-direction: row;
}

#container-itemspreview .product-principal{
    display: flex;
    flex-direction: column;
    background-color: black;
}

#container-itemspreview .product-principal img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    padding: 1rem;
}

#container-itemspreview .product-principal > .information-principal-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#container-itemspreview .product-principal > .information-principal-product p{
    width: max-content;
    color: white;
}

.container-relevants #container-itemspreview > #container-itemsecondary{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 10px;
}

#container-itemspreview > #container-itemsecondary .products-secundary{
    display: flex;
    flex-direction: row;;
    background-color: #C52462;
}

#container-itemspreview > #container-itemsecondary .products-secundary img{
    width: 140px;
    height: 80px;
    object-fit: cover;
    padding: 1rem
}

#container-itemspreview > #container-itemsecondary .information-secondary-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
}

#container-itemspreview > #container-itemsecondary .information-secondary-product p{
    color: white;
    font-size: 0.7rem;
    text-align: left;
}


/*************** MODAL FILTRO ITEMS SHOP **************/
.filtro-products{
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    width: 30%;
    border: 1px solid #989898;
    height: max-content;
    transition: right 0.5s linear;
}

.filtro-products #header-filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2rem;
}

.filtro-products #parametros-filtro{
    padding: 1.3rem 2rem;
}

hr{
    width: 100%;
    height: 1.5px;
    background-color: #989898;
    border: none;
}

.filtro-products .title-section{
    margin-top: 1rem;
}

.filtro-products #reset-default{
   opacity: 0.5;    
   text-decoration: underline;
}

.filtro-products .check-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    height: 2rem;
    gap: 1rem;
}
